
.card {
    margin: 1rem;
    border: 0;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 5px #e7e7e7;

}

.search {
    border-radius: 0;

}

body {
    background-color: #f8f9fa !important;
}

#sidebar-wrapper {
    z-index: 1;
    position: absolute;
    width: 0;
    height: 100%;
    overflow-y: hidden;
    background: #31375e;
    opacity: 0.9;
    transition: all .5s;
    display: flex;
    align-items: center;
}

/* Main Content */
#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
    transition: all .5s;
}

#menu-toggle {
    transition: all .3s;
    font-size: 2em;
}

/* Change the width of the sidebar to display it*/
#wrapper.menuDisplayed #sidebar-wrapper {
    width: 250px;
}

#wrapper.menuDisplayed #page-content-wrapper {
    padding-left: 250px;
}

/* Sidebar styling */
.sidebar-nav {
    padding: 0;
    list-style: none;
    transition: all .5s;
    width: 100%;
    text-align: center;
}

.sidebar-nav li {
    line-height: 40px;
    width: 100%;
    transition: all .3s;
    padding: 10px;
}

.sidebar-nav li {
    display: block;
    text-decoration: none;
    color: #ddd;
}

.btn {
    margin-bottom: 0;
}

.card-header {
    padding: 0;
}

.cola {
    margin: 1rem;
}

.cola-btn {
    width: 100%;
}

a {
    width: min-content;
    margin: auto;
    color: #000000;

}

.card-image {
    padding-right: 0;
    padding-left: 0;

}
.image{
    border-radius: 0.5rem 0.5rem 0 0;
}
.card-text {
    font-size: 0.8rem;
}
.nav-a{
    margin: 0;
    display: contents;
}
.navbar-brand{
    color: white !important;

}
/*/;lllllllllllllllllllllllllllllllll/*/

.star-wrapper {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    direction: rtl;
}
.star-wrapper a {
    font-size: 2em;
    color: #6c6c6c;
    text-decoration: none;
    transition: all 0.5s;
    margin: 4px;
}
.star-wrapper a:hover {
    color: gold;
    transform: scale(1.3);
}
.s1:hover ~ a {
    color: gold;
}
.s2:hover ~ a {
    color: gold;
}
.s3:hover ~ a {
    color: gold;
}
.s4:hover ~ a {
    color: gold;
}
.s5:hover ~ a {
    color: gold;
}
.wraper {
    position: absolute;
    bottom: 30px;
    right: 50px;
}
.modal-body{
    padding: 2rem;
}
.nav-item{
    margin: 0.5rem;
}
.page-item.active .page-link {
    background-color: #454b6e !important;
    border-color: #454b6e !important;
}
